
<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
<hr>
<div class="form-group">
  <input type="text" class="form-control mt-4" name="username"
  [(ngModel)]="model.username" placeholder="Username">
</div>


<div class="form-group">
  <input type="password" class="form-control mt-4" name="password"
  [(ngModel)]="model.password" placeholder="Password">
</div>
<div class="form-group text-center">
<button class="btn btn-success mr-2 col-xs-2" type="submit">Register</button>
<button class="btn btn-info mr-2 m-lg-4" type="submit" (click)="cancel()">Cancel</button>
</div>
</form>
